.topClassesAndPerformers {
  margin-top: 4rem;
  display: flex;
}

.top-classes {
  flex: 2.8;
}

.top-performers {
  flex: 1.2;
}

.top-performers-header {
  margin-bottom: 1.5rem;
}

.top-performers-body {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 0.8rem;
}

.top-performers-body-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.performers-divider {
  border: 1px solid #282C38;
  margin-bottom: 2rem;
}

.language-div {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.language-icon {
  margin-right: 0.5rem;
}

.language-div p {
  font-weight: 400;
  font-size: 13px;
  color: #121212;
}

.language-div svg {
  cursor: pointer;
  margin-left: 5px;
}

.show-more-btn button {
  background: #5D5FEF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
  cursor: pointer;
}



.performing-student-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: space-around;
}

.student-image {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
}

.student-image img {
  /* width: 100%; */
  height: 100%;
}

.performing-student-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #121212;
  margin-right: 1.2rem;
}

.perfomance-range {
  display: flex;
  align-items: center;
}

.perfomance-range svg {
  margin-right: 1rem;
}

.perfomance-range .green {
  color: #30E0A1;
}

.perfomance-range .red {
  color: #FA2256;
}

.perfomance-range .orange {
  color: #FFB545;
}

.perfomance-range .blue {
  color: #246CF9;
}


.top-classes-div {
  width: 95%;
  height: 320px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 15px;
}

.top-class-item {
  display: flex;
  flex-wrap: wrap;
}

.top-class-inner-item {
  display: flex;
  margin-right: 208px;
  margin-bottom: 20px;
}

.top-class-inner-item:nth-child(even){
  margin-right: 0px;
}

.top-class-inner-item img {
  margin-right: 15px;
}

.top-detail-text {
  margin-right: 15px;
}

.top-detail-text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.top-detail-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #8A8A8A;
}

.top-detail {
  display: flex;
}

.top-detail-num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: auto;
  height: 33px;
  background: rgba(93, 95, 239, 0.2);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #5D5FEF;
}

/* Responsive styling for the student top classes and performers */
@media screen and (max-width: 450px) {
  .topClassesAndPerformers {
    flex-direction: column;
    width: 100%;
  }

  .top-performers {
    flex: 1;
  }


}